body {
    background-color: white;
    color: #212121;
    padding: 1rem 2rem;
}

body.night {
    background-color: #181818;
    color: white;
}

body.night input {
  color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
